
body{
	margin: 0;
	padding: 0;
	background-image: url(5039684.jpg);
	color: white;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: cover;
	background-size:cover;
  position: fixed;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 10cm;
    length:20cm;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    position:relative;
    background-color: rgba(6, 17, 104, 0.632);
    box-shadow: 0 6px 12px 0 rgba(20, 97, 231, 0.902);
    transition: 0.3s;
    opacity:70%;
    align-self: center;
    font-size: larger;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 16px 32px 0 rgb(242, 243, 246);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding-left: 30%;
    padding-right: 30;
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center;
  }

  .emptyspace{
    width: 250px;
  }

  .heading{
    padding-bottom: 2%;
    padding-left: 30%;
    font-size:300%;
  }

  .myvideo{
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
    height:200%;
    length:200%;
  }

  .buttons{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(66, 224, 9, 0.902);
  transition: 0.3s;
  }

  .buttons:hover{
    box-shadow: 0 6px 12px 0 rgb(242, 243, 246);
  }

  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear 6;
    float:left;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
nav {
  position: relative;
  display: flex;
  padding: 3% 3% 3%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 120px;
}

.nav-links {
  margin-top: 3px;
  margin-left: 200px;
  flex: 1;
  text-align:center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 12px 15px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li :hover::after {
  width: 100%;
}


